{% extends "base.html" %}

{% block latestblog %}
    <div class="container py-5 ">
        <h1 class="text-center">Latest Blogs</h1>
        <hr class="divider">
        <div class="row justify-content-center">
            {% for blogs in page_obj %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="stack-item shadow-sm border-0">
                    <div class="stack-image">
                        <img fetchpriority="high" decoding="async" class="img-fluid " src="{{ blogs.image.url }}"
                            alt="Blog Image" style="width: 100%; height: 200px; object-fit: cover;">
                    </div>
                    <div class="stack-body">
                        <p class="text-muted mb-2">
                            {% if blogs.category %}
                            <span class="badge bg-primary">{{ blogs.category }}</span>
                            {% endif %}
                        </p>
                        <h5 class="stack-title">
                            <a href="" class="text-dark text-decoration-none">
                        <h5 class="card-title">
                            <a href="{% url "blogDetail" blogs.id %}" class="text-dark text-decoration-none">
                                {{ blogs.title }}
                            </a>
                        </h5>
                        <p class="stack-text pt-3 ">
                            {% if blogs.author %}
                            <small class="text-muted ">By: {{ blogs.author }}</small>
                            {% endif %}
                            <br>
                            <small class="text-muted">{{ blogs.created_on|date:"F d, Y" }}</small>
                        </p>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
              {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
              {% endfor %}
              <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
              
            </ul>
        </nav>
    
    </div>
{% endblock latestblog %}
    

    


    